.ClassCard {
    max-width: 100%;
    max-height: 100%;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
}


.classList {
    list-style-type: none;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px;
    padding: 0px;

    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 100%;
}

/* Class grid */
.classList li {
    flex: 0 1 250px;
    min-width: 150px;
    max-width: 250px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #FFF3E6;
    border-radius: 7px;

    box-shadow: 0 5px 12px rgba(0, 0, 0, .1);
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

}

/* Buttons */

.add-class {
    background-color: transparent;
    border: 2px solid #5BC07D;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
    padding: 0px 0px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    width: 10%;
    min-width: 50px;
}

.add-class:disabled {
    pointer-events: none;
}

.add-class:hover {
    color: white;
    background-color: #5BC07D;
    box-shadow: rgba(0, 0, 0, 0.1) 0 8px 15px;
}

.add-class:active {
    box-shadow: none;
    transform: translateY(0);
}




.classList li:hover,
.add-class:hover {
    transform: scale(1.1);
}