.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.StudyLogModal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 25em;
  height: auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 65px 45px;
  z-index: 1000;

  border-radius: 40px;
  text-align: left;
}

.StudyLogModal h4 {
  margin-top: 15px;
}

.class-name select,
.topic input[type=text],
.hours-studied input[type=number],
.enter-notes input[type=text] {
  width: 100%;

  font-size: 15px;

  margin-top: 10px;

  border: 1px solid rgb(202, 202, 202);
  background-color: rgb(243, 243, 243);

  border-radius: 15px;
  height: 2.5rem;
  max-width: 400px;
  padding: 0.5rem 1rem;

  box-sizing: border-box;
}

.exit-studylog {
  width: auto;
  height: 20px;
  position: absolute;

  top: 4%;
  left: 90%;

  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.exit-studylog:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.notes {
  height: auto;
  width: 100px;
  opacity: 55%;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
}

form .form-inputs {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  gap: 35px;

  color: rgb(95, 95, 95);
}


.submit-button {
  background-color: transparent;
  border: 2px solid #5BC07D;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  width: 100%;
  min-width: 1em;
  padding: 5px 20px 5px 20px;
  margin-top: 45px;
}

.submit-button:hover {
  color: white;
  background-color: #5BC07D;
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 15px;

  transform: scale(1.1);
}