.StudyLogs {
    max-width: 100%;
    max-height: 100%;
    background: white;
    padding: 0px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    /* min-height: 70vh; */
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-header img {
    height: 20px;
    width: auto;
    /* margin-right: 20px; */
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.table-header img:hover {
    transform: scale(1.2);
    cursor: pointer;
}


/* Styling for study logs table */
table {
    table-layout: fixed;
}

tr:nth-child(even) {
    background-color: #FFF3E6;
}

.table-container {
    max-height: 25em;
    overflow-y: auto;
    width: 100%;
    margin: 0 auto;

    border-radius: 15px;
}



/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}


/* TABLE */
.t-row {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.t-row th,
.t-row td {
    padding: 15px 12px;
}

.tr {
    border-radius: 20px;
}

.t-row th {
    background-color: #c5d9ff;
    text-transform: uppercase;
}

thead th {
    position: sticky;
    top: 0;
}


.clear-logs-button {
    text-align: left;
    /* align the text inside itself */
    cursor: pointer;
    margin-top: 10px;
    color: rgb(255, 109, 109);
    transition: 0.2s ease-in-out;
}

.clear-logs-button:hover {
    text-decoration: underline;
    transform: translateX(-7px);
}

.add-study-button {
    text-align: left;
    /* align the text inside itself */
    cursor: pointer;
    color: green;
    margin-top: 10px;
    transition: 0.2s ease-in-out;
}

.add-study-button:hover {
    text-decoration: underline;
    transform: translateX(7px);
}



.log-row {
    transition: 0.1s ease-in-out;
}

.log-row:hover {
    background-color: rgb(255, 109, 109);
    cursor: pointer;
}

.buttons {
    display: flex;
    margin-top: 0;
    justify-content: space-between;
}