.termpage-container {
    display: flex;
    gap: 80px;
    justify-content: center; /* centers both children */
    align-items: flex-start;

    justify-content: center;
    align-items: center;
    /* text-align: center; */
    min-height: 70vh;
}

.form,
.right-side,
.left-side {
    flex: none; /* don’t grow/shrink, just take their content size */
}