.termpage-container {
    display: flex;
    gap: 80px;
    justify-content: center; /* centers both children */
    align-items: flex-start;

    justify-content: center;
    align-items: center;
    /* text-align: center; */

    min-height: 70vh;
}

.left-side,
.right-side {
    box-sizing: border-box;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;       /* spacing between ClassCard and StudyLogs */
  align-items: center; /* keep content aligned left */
  justify-content: center;
}
