.addclass-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.addClassModal {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 65px 30px;
  z-index: 1000;

  border-radius: 40px 5px 40px 5px;
  text-align: left;
}

.addClassModal input {
  border: none;
  width: 10em;
  height: auto;
}

.addClassModal input[type=text] {
  border-bottom: 1px solid black;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.buttons button {
  border: none;
  margin-top: 10px;
}