.Header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    margin-left: 40px;
    margin-right: 100px;
    margin-top: 0px;
}

.term-back {
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 25px;
}

.back-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.3;
    transition: .2s;
}

.back-btn:hover {
    opacity: 1;
    transform: translateX(-5px);
}

.term-info h1 {
    font-size: 32px;
    font-weight: 600;
}

.term-info p {
    font-size: 14px;
    opacity: 0.6;
}