:root {
    @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
}

body {
    font-family: "Figtree", sans-serif;
    background-color: #edf2fb;
}